@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.shell-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.shell-content {
  flex: 1;
  background-color: #eef1f6;
  background-image: url('assets/md-background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

header {
  display: flex;
  height: 48px;
  background-color: #fff;
  border-bottom: 2px #d3d3d3 solid;
  align-items: center;
  padding: 0px 12px;
}

.logo {
  width: 150px;
}

.navigation {
  flex: 1;
}

footer {
  background-color: #4a5664;
  height: 24px;
  color: white;
  font-size: 11pt;
  padding-left: 12px;
  line-height: 24px;
}

.link {
  font-size: 1.2em;
  border-bottom: 2px lightskyblue solid;
}

.user-login {
  width: 100px;
  text-align: center;
}

.user-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.navigation .mat-tab-link {
  font-weight: 600;
  font-size: 16px;
}
